PORT=3000

# This service's exchange (publishes here)
RMQ_PROMPT_EVALUATION_URL=amqp://admin:password@optimization-rabbitmq:5672
RMQ_PROMPT_EVALUATION_EXCHANGE_NAME=ex.prompt-evaluation.events
RMQ_PROMPT_EVALUATION_EXCHANGE_TYPE=direct

# Prompt Generation service (consumes from here)
RMQ_PROMPT_GENERATION_URL=amqp://admin:password@optimization-rabbitmq:5672
RMQ_PROMPT_GENERATION_EXCHANGE_NAME=ex.prompt-generation.events
RMQ_PROMPT_GENERATION_EXCHANGE_TYPE=direct
RMQ_PROMPT_GENERATION_QUEUE_NAME=q.prompt-evaluation.prompt-generation
RMQ_PROMPT_GENERATION_QUEUE_TYPE=quorum
